PORT=3000

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/quickbite_gateway

# Rate Limiting (in ms and max request count)
RATE_LIMIT_TTL=60000
RATE_LIMIT_MAX=100

# Microservice URLs (Fill these in when services are deployed/running)
IDENTITY_URL=http://localhost:44391
ORDER_URL=https://localhost:44386/api/app
CATALOG_URL=http://localhost:3000
INVENTORY_URL=http://localhost:8083/api/v1
PAYMENT_URL=http://localhost:8084/v1
