DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=yourpassword
DB_DATABASE=mydb
NODE_ENV=development
DB_SSL=true
DB_SSL_CA_PATH="ca.pem"

JWT_SECRET=xxxxxxxxxxxx
JWT_ISSUER=https://localhost:44337
JWT_AUDIENCE=QuickBite

# "true": skip JWT & Permission check for dev local
BYPASS_AUTH=true
KAFKA_BROKER=xxx